html {
    height: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    background-color: #DAC996;
    display:flex; 
    flex-direction:column; 
}

nav {
    background-color: #FFD042;
    padding: 10px;
    position: sticky !important;
    width: 100%;
}

#banner {
    width: 100%;
}

.navbar-toggler {
    background-color: #AEB8E4;
    position: absolute;
    right: 20px;
    top: 20px;
}

.nav-item {
    color: #003975;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    -webkit-transition-property: all;
    -webkit-transition-property: 1s;
    -webkit-transition-property: linear;
}
a {
    color: #003975;
}
.nav-item:hover, a:hover {
    background-color: #AEB8E4;
    border-radius: 10px;
    color:#0D089B;
}

section {
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    background-color: #E9A81E;
    margin: 5px;
    padding: 5px;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    padding: 10px;
    text-align: justify;
}

#instagramPics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.imgCircle{
    margin: 15px;
    border-radius: 50%;
    border: 3px solid white;    
}

.littleBox {
    background: #FFFFFF;
    border: 1px solid #AEB8E4;
    border-radius: 10px; 
    margin: 0 auto;
    padding: 5px;
    max-width: 500px;
}

.mediumBox {
    background: #DACEB3;
    border: 1px solid #AEB8E4;
    border-radius: 10px; 
    margin: 0 auto;
    padding: 5px;
    max-width: 800px;
}

#contactUsForm .form-group {
    text-align: left;
}

#contactUsForm .btn {
    background-color: #004C9E;
}

.help {
    color: #FF0000;
    font-size: 16px;
}
footer {  
    background: #AEB8E4;
    bottom: 0;  
    margin-top:auto; 
    text-align: center;
    width: 100%;
}
