html {
    height: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.7cm;
}

body {
    display:flex; 
    flex-direction:column; 
    color:#003975;
}

nav {
    background-color: #F8EB2F;
    padding: 10px;
    position: sticky !important;
    width: 100%;
}

#logo {
    margin: 0;
}

#banner {
    width: 100%;
}

.navbar-toggler {
    background-color: #DBE2FF;
    border: outset;
    color:#003975;
    position: absolute;
    right: 20px;
    top: 20px;
}

.navbar-toggler:active {
    background-color: #DBE2FF;
    border: inset;
    color:#003975;
    position: absolute;
    right: 20px;
    top: 20px;
}

.nav-item {
    color: #003975;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    font-weight: 700;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    -webkit-transition-property: all;
    -webkit-transition-property: 1s;
    -webkit-transition-property: linear;
}

a {
    color: #003975;
}

.nav-item:hover {
    background-color: #DBE2FF;
    border-radius: 10px;
    color:#003975;
}

a:hover {
    color:#003975;
}

section {
    font-family: 'Nunito', sans-serif;
    margin: 10px 0;
    text-align: center;
}

.anchor {
    display: block;
    height: 120px;
    margin-top: -120px;
    visibility: hidden;
}

h2 {
    background-color: #003975;
    border-radius: 5px;
    color: #F8EB2F;
    font-family: 'Varela Round', sans-serif;
    font-size: 2em;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
}

h3 {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
}

p {
    padding: 10px;
    text-align: justify;
}

#instagramPics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.item img{
    transition-property: all;
    transition-duration: 500ms;
    width: 100%;
}

.item img:hover{
    transform: scale(1.1);
}

.box {
    background-color: #0039751c;
    border: 1px solid #AEB8E4;
    border-radius: 10px; 
    margin: 0 auto;
    padding: 5px;
}
.littleBox {
    max-width: 500px;
}

.mediumBox {
    max-width: 800px;
}

.bigBox {
    max-width: 95%;
}

#shape {
    width: 1.5em;
}

#contactUsForm .form-group {
    text-align: left;
}

#contactUsForm .btn {
    background-color: #004C9E;
}

.help {
    color: #FF0000;
    font-size: 0.8em;
}

footer {  
    background: #407AB1;
    bottom: 0;
    color: #FFFFFF;
    margin-top:auto; 
    text-align: center;
    width: 100%;
}

@media (max-width: 767px) { 
    html {
        height: 100%;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 1.0cm !important;
    }
}
 
@media (max-width: 480px) { 
    html {
        height: 100%;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 1.2cm !important;
    }
}